<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<nav class="navbar navbar-nav navbar-expand-md navbar-custom center">
  <div class="container">
    <a class="navbar-brand" href="">
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item item">
        <a class="nav-link" class="btn btn-outline-light  btn-sm " routerLink="updatePassbook">updatePassbook</a>
      </li> &nbsp;&nbsp;
      <li class="nav-item item">
        <a> </a>
      </li>
      <li class="nav-item item">
        <a class="nav-link" class="btn btn-outline-light btn-sm" routerLink="acocuntSummary">acocuntSummary</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>